<% provide(:title, @user.name) %>
<div class="row" >
	<aside class="span4" >
		<section>
			<h1>
				<%= gravatar_for @user , size: 40 %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<!-- this calls for a _micropost[singular].html.erb -->
				<%= render @microposts %>
			</ol>
			<!-- calls will_paginate explicitly on @microposts -->
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>
